@font-face {
	font-family: MyriadPro;
	src: url(../fonts/MyriadPro-Regular.otf);
}

body{
	margin: 0px;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

.header{
	border-bottom: 1px solid #fbfbfb;
}

.top {
	height: 110px;
	background-color: #151515;
	background: linear-gradient(to bottom, #343434, #151515);
	border-bottom: 1px solid #000;
}

.menu-wrapper {
	height: 60px;
	background: #f8bb49;
	background: linear-gradient(to bottom, #f8bb49, #f7941d);
	border-top: solid 1px #fcdda4;
	border-bottom: solid 1px #a16013;
}

.menu {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

.menu > ul {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.menu > ul > li {
	float: left;
	padding-right: 37px;
/*	padding-top: 11px;*/
/*	padding-bottom: 11px;*/
}

.tab > a {
	display: block;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-decoration: none;
	color: #333333;
	font-family: MyriadPro, arial;
	font-size: 12px;
}

.active a {
	color: #ff9d00;
	background: #0f0900;
	border-radius: 5px;
}
